body{
  color:white;
  background-color:white;
  padding:0px;
  margin:0px;
  font-family: Helvetica;
}

html, body, .container {
  height:100%;
  width:100%;
  background-color:black;
}

.container {
  display:flex;
  align-items: stretch;
}

#TOOLBAR {
  transition: width 1000ms ease;
  padding:30px;
  width:300px;
  max-height:100%;
  border-right: 1px solid white;
  overflow-wrap: break-word;
  overflow: hidden;
}

#TOOLBAR h1 {
  font-size: 3em;
  margin:0px;
  text-align: center;
  justify-content: center;
}

#ShaderGraph ol{
  padding:0px;
  padding-left:15px;
}

.dg.main .close-button.close-bottom {
  position:static !important;
}

#DATGUI {
  transition: opacity 1s;
  position:inherit;
}

#NAV{
  padding-bottom:15px;
}

#NAV ul {
  padding:0px;
  list-style: none;
  text-align:center;
}

#NAV ul li {
  text-align:center;
  display:inline-block;
  font-size:2em;
  padding: 0px 5px;
}

#APP {
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
  overflow:hidden;
  max-width:80%;
}

#APP canvas {
  transition: all 500ms ease;
}

/* TODO: Go through and clean up below */

.roadDebug{
  position:absolute;
  top:0px;
  left:0px;
  color:white;
  border: 1px solid white;
  padding:15px;
  margin: 5px;
}
.roadDebug ul {
  list-style:none;
  padding:0px;
  margin:0px;
}
.dg .ac {
  z-index: 999 !important;
}
.road_textbox {
  color:white;
}

.road_label {
  background-color: rgba(255,255,255,0.5);
  padding: 1px;
  position: absolute;
  z-index:: 100;
}

.road_label h6 {
  margin: 0px;
  color: black;
  font-size: 1.2em;
}
