body{
  /* color:white; */
  background-color:white;
  padding:0px;
  margin:0px;
  font-family: Helvetica;
}

h1 {
  color:white;
}

html, body, .container, #root {
  height:100%;
  width:100%;
  background-color:black;
}

.container {
  display:flex;
  align-items: stretch;
}

/* MAPS */
#ShaderGraph ol{
  padding:0px;
  padding-left:15px;
}

/* GUI */
.dg.main .close-button.close-bottom {
  position:static !important;
}

/* DRAWER */

/* these should be moved out into their respective react components */
.tooldrawer_open {
  width: 360px;
  transition: width 900ms ease;
  overflow-x:hidden;
}

.tooldrawer_closed {
  width: 60px;
  transition: width 900ms ease;
  overflow-x:hidden;
}

.diagram_open {
  /* z-index: 1; */
  /* width: 360px;
  transition: width 900ms ease; */
  /* overflow-x:hidden; */
}

.diagram_closed {
  /* z-index: 1; */
  /* height: 60px;
  transition: width 900ms ease; */
  /* overflow-x:hidden; */
}

#DIAGRAM {
  padding:5px;
  width:100%;
  height:400px;
  box-sizing:border-box;
  border-top: 1px solid white;
  background-color:#111;
}

.srd-diagram {
  height:100%;
}

/* SUBWRAPPER */
#subwrapper {
  padding:16px;
}

/* APP */

#SKETCHCONTAINER, #APP {
  flex-shrink: 10;
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
  overflow:hidden;
  flex-direction:column;
  min-width:0;
}

#APP canvas {
  transition: all 500ms ease;
}



/* RANGESLIDER */

/* .rangeslider-horizontal {
  height: 5px !important;
}

.rangeslider__handle {
  width:15px !important;
  height:15px !important;
}

.rangeslider__handle:after {
  /* width: 15px !important;
  height: 15px !important; */
  /*
  width: 0px !important;
  height: 0px !important;
  top: 0px !important;
  left: 0px !important;
} */

/* TODO: Go through and clean up below */

.roadDebug{
  position:absolute;
  top:0px;
  left:0px;
  color:white;
  border: 1px solid white;
  padding:15px;
  margin: 5px;
}
.roadDebug ul {
  list-style:none;
  padding:0px;
  margin:0px;
}
.dg .ac {
  z-index: 999 !important;
}
.road_textbox {
  color:white;
}

.road_label {
  background-color: rgba(255,255,255,0.5);
  padding: 1px;
  position: absolute;
  z-index:: 100;
}

.road_label h6 {
  margin: 0px;
  color: black;
  font-size: 1.2em;
}
