body{
  /* color:white; */
  background-color:white;
  padding:0px;
  margin:0px;
  font-family: Helvetica;
}

html, body, .container, #root {
  height:100%;
  width:100%;
  background-color:black;
}

.container {
  display:flex;
  align-items: stretch;
}

/* MAPS */
#ShaderGraph ol{
  padding:0px;
  padding-left:15px;
}

/* GUI */
.dg.main .close-button.close-bottom {
  position:static !important;
}

/* DRAWER */
.tooldrawer_open {
  width: 360px;
  transition: width 900ms ease;
  overflow-x:hidden;
}

.tooldrawer_closed {
  width: 60px;
  transition: width 900ms ease;
  overflow-x:hidden;
}

/* SUBWRAPPER */
#subwrapper {
  padding:16px;
}

.gui_textinput {
  margin:6px !important;
}

/* APP */

#APP {
  flex-shrink: 10;
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
  overflow:hidden;
  min-width:0;
}

#APP canvas {
  transition: all 500ms ease;
}

/* TODO: Go through and clean up below */

.roadDebug{
  position:absolute;
  top:0px;
  left:0px;
  color:white;
  border: 1px solid white;
  padding:15px;
  margin: 5px;
}
.roadDebug ul {
  list-style:none;
  padding:0px;
  margin:0px;
}
.dg .ac {
  z-index: 999 !important;
}
.road_textbox {
  color:white;
}

.road_label {
  background-color: rgba(255,255,255,0.5);
  padding: 1px;
  position: absolute;
  z-index:: 100;
}

.road_label h6 {
  margin: 0px;
  color: black;
  font-size: 1.2em;
}
